<section>
    <div class="container">
        <form action="/admin/add-admin" method="post" enctype="multipart/form-data" role="form" enctype="application/x-www-form-urlencoded" style="
    margin-left: 150px;
    margin-right: 150px;
    margin-top:10px;
">
            <legend>Enter Information Here</legend>

            <div class="form-group">
                <label for="first_name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
            </div>

            <div class="form-group">
                <label for="last_name">User Name</label>
                <input type="text" class="form-control" name="user_name" id="user_name" placeholder="User Name" required>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
            </div>

            <div class="form-group">
                <label for="pw">Password</label>
                <input type="password" class="form-control" name="pw" id="pw" required>
            </div>

            <div class="form-group">
                <label for="pw_confirm">Confirm Password</label>
                <input type="password" class="form-control" name="pw_confirm" id="pw_confirm" required>
            </div>
            {{#if error}}
            <p style="color: red;">{{error}}</p>
            {{/if}}
            <div class="form-group">
                <label for="pw_confirm">Uplode Image</label>
                <input type="file" class="form-control" name="image" id="pw_confirm" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<script>

</script>