<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>



  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a href="index.html" class="site-logo">
            AL-HIKMA
          </a>

          {{!-- <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
              class="icon-menu h3"></span></a> --}}

        </div>
        <div class="col-6">
          <div class="dropdown float-right">
            <input type="image" name="submit" height="50" src="/images/user-profile/{{user._id}}.jpg" alt=""
              class="btn  profile" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item trigger_popup_fricc" id="trigger_popup_fricc"><i class="fas fa-key"> </i> Change
                Password</a>
              <a class="dropdown-item" href="/admin/add-admin"><i class="fas fa-user-circle"></i> Add Admin</a>
              <a class="dropdown-item trigger_popup_fricc" id="trigger_popup_fricc1"><i class="fas fa-key"> </i> Add
                Category</a>
              <a class="dropdown-item" href="/login"><i class="fas fa-user-cog"></i> Profile</a>
              <a class="dropdown-item" href="/login"><i class="fas fa-cog"></i> Settings</a>
              <a class="dropdown-item " href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
            </div>
          </div>
        </div>

        <div class="hover_bkgr_fricc" id="hover_bkgr_fricc">
          <span class="helper"></span>
          <div>
            <div class="popupCloseButton" id="popupCloseButton">&times;</div>
            <p>Add any HTML content<br />inside the popup box!</p>
          </div>
        </div>

        <div class="hover_bkgr_fricc" id="hover_bkgr_fricc1">
          <span class="helper"></span>
          <div>
            <div class="popupCloseButton" id="popupCloseButton1">&times;</div>
            <h5>Add Category:</h5>
            <div>
              <form action="/admin/category" method="POST">
                <input type="text" name="category" id="category" placeholder="Add Category">

                <button class="btn float-right mr-3">Add</button>
              </form>

            </div>
            <div>

              {{#each category}}
              <h6>{{this.category}}</h6>
              {{/each}}
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>





</div>

<style>
  .profile {
    padding: 0%;
    border-radius: 50%;
    margin-left: auto;
  }

  /* Popup box BEGIN */
  .hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    margin-left: -105px;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  .hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .hover_bkgr_fricc>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 300px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
  }

  .popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .popupCloseButton:hover {
    background-color: #ccc;
  }

  .trigger_popup_fricc {
    cursor: pointer;
  }

  #category {
    border: none;
    width: 57%;
    border-bottom: solid 2px #5fbae9;
    margin-bottom: 10px;
  }

  .hover_bkgr_fricc h5,
  .hover_bkgr_fricc h6 {
    color: #000;
    margin-left: 16px;
    text-align: left;
  }

  .hover_bkgr_fricc h5 {
    margin-top: 10px;
  }

  /* Popup box BEGIN */
</style>